<h2>Perlゼミ Webデザイン入門の目的</h2>

Perlゼミ Webデザイン入門という講座を作成してる目的です。

<h3>初心者がWebデザインの勉強のやり方を学ぶ基礎として</h3>

Perlゼミ、Webデザイン入門は、初心者がWebデザインの勉強のやり方を学ぶ基礎として書かれています。

初心者の方がWebデザインを勉強するための基礎として活用してもらうことを目的にしています。

<h3>Webデザインのトレンドに沿うサンプル豊富なシンプルなHTMLとCSS</h3>

Webデザインのトレンドに沿いつつ、シンプルにHTMLとCSSを書きたいという方向けにPerlゼミ Webデザイン入門は書かれています。

Web上には、情報がたくさんありますが、ありすぎて何を学んでよいかわからない、2020年のトレンドに沿いつつ、シンプルに書く方法は、いったいどうするんだろうか、と思っている方もいるでしょう。

そのような方が、サンプルを見ながら、効率的にWebデザインを学習できることを目的としています。

<h3>PerlゼミのプログラミングスクールのWebデザイン講座</h3>

Perlゼミ Webデザイン入門は、<a href="http://school.perlzemi.com/">Perlゼミ プログラミングスクール</a>の一つの講座として作成されています。

Perlゼミのプログラミングスクールは、PerlでWebシステム開発を行うユーザーをメインターゲットとしています。

PerlでWebシステム開発を行っているユーザーが、Webデザインの基礎を効率よく学ぶことが目的です。

<h3>Webデザインの資格を取りたい方向けの基礎講座</h3>

Webデザインの資格を取ってWebデザインを行っている会社に就職したいという方もいるでしょう。

そのような方が、Webデザインの基礎を効率よく学べることが目的です。
