<h2>【HTML5】pタグ - 段落を作成する</h2>

<b>pタグ</b>を使うと段落を作成することができます。

  <p>
    こちら
  </p>
  <p>
    食べ放題。
  </p>

<pre>
  <p>
    こちら
  </p>
  <p>
    食べ放題。
  </p>
</pre>

<h3>pタグとdivタグとbrタグの使い分けは?</h3>

<a href="/blog/20200325090741.html">brタグ</a>や<a href="/blog/20200226082049.html">divタグ</a>を使っても改行ができますね。pタグとdivタグとbrタグの使い分けは、実際には、どんな感じでしょう?

  こちら<br>
  食べ放題。

<pre>
こちら<br>
食べ放題。
</pre>

「それぞれを使い分けますか?」という質問には、はいと答えます。

<h4>本文を書く場合はpタグ</h4>

本文を書くような場合は、<b>pタグ</b>を使います。

  <p>
    こんなお店で良かったのかな。
  </p>
  <p>
    ええ、とても楽しかったわよ。
  </p>

<pre>
<p>
  こんなお店で良かったのかな。
</p>
<p>
  ええ、とても楽しかったわよ。
</p>
</pre>


<h4>ボタンやテーブルの項目などの中で改行はbrタグ</h4>

ボタンやテーブルの項目など、本文ではないような場所で、改行したい場合は、<a href="/blog/20200325090741.html">brタグ</a>を使うことがあります。

<button>この<br>ボタン</button>

<pre>
<button>この<br>ボタン</button>
</pre>

<h4>テキストの装飾を変えたい場合はdivタグ</h4>

テキストの装飾を変えたい場合は、<a href="/blog/20200226082049.html">divタグ</a>を使うことも多いです。

<button>
  <div style="color:red">この</div>
  <div style="font-weight:bold;">ボタン</div>
</button>

<pre>
<button>
  <div style="color:red">この</div>
  <div style="font-weight:bold;">ボタン</div>
</button>
</pre>
