<h2>headタグ - 中にHTMLヘッダを書く場所</h2>

HTMLヘッダは、<b>headタグ</b>の中に書きます。HTMLヘッダには、画面には表示されない補助的な情報を記述します。

HTMLヘッダでは、CSSの読み込み、JavaScriptの読み込み、タイトルの記述、文字コードの記述、サイトの説明やキーワードの記述、ファビコンの記述、スマートフォン用の画面表示の記述などを行います。

<pre>
<head>
  HTMLヘッダ
</body>
</head>
</pre>

<h3>HTMLのひな型</h3>

<a href="/blog/20200205092826.html">DOCTYPE宣言</a>と<a href="/blog/20200204092826.html">htmlタグ</a>、<b>headタグ</b>、<a href="/blog/20200203092826.html">bodyタグ</a>がHTMLのひな型になります。

<pre>
<!DOCTYPE html>
<html>
  <head>
    HTMLヘッダ
  </head>
  <body>
    HTMLコンテンツ
  </body>
</html>
</pre>
