<h2>フォントファミリー設定 サンプルサイト集</h2>

参考にしているデザインのWebサイトが、どのようなフォントファミリーを設定しているかを紹介するページです。

<h3>サバが教えるレンサバ講座</h3>

<a href="https://sabarentalserver.com/">サバが教えるレンサバ講座</a>

<pre>
font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Segoe UI", "メイリオ", "Meiryo",sans-serif;
</pre>

<div style="background:#efe;font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Segoe UI', 'メイリオ', 'Meiryo',sans-serif;">
  フォントは、こんな風に見えるよ。
</div>

<h3>サルワカ</h3>

<a href="https://saruwakakun.com/">サルワカ</a>

<pre>
font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","Hiragino Kaku Gothic ProN",YuGothic,"Yu Gothic",Verdana,Meiryo,sans-serif;
</pre>

<div style="background:#efe;font-family: -apple-system,BlinkMacSystemFont,'Helvetica Neue','Hiragino Kaku Gothic ProN',YuGothic,'Yu Gothic',Verdana,Meiryo,sans-serif">
  フォントは、こんな風に見えるよ。
</div>

<h3>PROUD 虎ノ門</h3>

<a href="https://www.proud-web.jp/mansion/toranomon/">PROUD 虎ノ門</a>

<pre>
font-family: "Times New Roman", Times, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "Sawarabi Mincho", "游明朝体", "Yu Mincho", YuMincho, "HG明朝B", serif;
</pre>

<div style="background:#efe;font-family: 'Times New Roman', Times, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'Sawarabi Mincho', '游明朝体', 'Yu Mincho', YuMincho, 'HG明朝B', serif;">
  フォントは、こんな風に見えるよ。
</div>

<h3>ピクスタ</h3>

<a href="https://pixta.co.jp/">ピクスタ</a>

<pre>
font-family: -apple-system, BlinkMacSystemFont, Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
</pre>

<div style="background:#efe;font-family: -apple-system, BlinkMacSystemFont, Lato, 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;">
  フォントは、こんな風に見えるよ。
</div>
