<h2>【CSS3】要素セレクタ</h2>

<b>要素セレクタ</b>は、要素をタグ名を指定するためのものです。

要素セレクタはタグ名と同じです。

<pre>
span {
  color:red;
}
</pre>

要素セレクタを使ってみましょう。

<style>
  span {
    color:red;
  }
</style>

<span>トマト</span>

<pre>
<style>
  span {
    color:red;
  }
</style>

<span>トマト</span>
</pre>

<h3>クラスセレクタと要素セレクタの組み合わせ</h3>

<a href="/blog/20200422134429.html">クラスセレクタ</a>と要素セレクタを組み合わせることもできます。

<style>
  li.active {
    color:red;
  }
</style>

<ul>
  <li class="active">トマト</li>
  <li>レタス</li>
</ul>

<pre>
<style>
  li.active {
    color:red;
  }
</style>

<ul>
  <li class="active">トマト</li>
  <li>レタス</li>
</ul>
</pre>
