<h2>【CSS3】text-align - テキストの左寄せ、中央寄せ、右寄せ</h2>

テキストを左寄せ、中央寄せ、右寄せにするには<b>text-align</b>をスタイルシート(CSS)に設定します。

<div style="text-align:left;background:#eef;">
  左寄せ
</div>
<br>
<div style="text-align:center;background:#eef;">
  中央寄せ
</div>
<br>
<div style="text-align:right;background:#eef;">
  右寄せ
</div>

<pre>
<div style="text-align:left;background:#eef;">
  左寄せ
</div>
<br>
<div style="text-align:center;background:#eef;">
  中央寄せ
</div>
<br>
<div style="text-align:right;background:#eef;">
  右寄せ
</div>
</pre>

<h3>要素の左寄せ、中央寄せ、右寄せ</h3>

要素が、インライン要素、インラインブロック要素であれば、<b>text-align</b>で左寄せ、中央寄せ、右寄せができます。

<h4>インライン要素 - imgタグ</h4>

インライン要素であるimgタグは、<b>text-align</b>で左寄せ、中央寄せ、右寄せができます。

<div style="text-align:center;background:#eef;">
  <img src="/images/webdesign-logo.png">
</div>

<pre>
<div style="text-align:center;background:#eef;">
  <img src="/images/webdesign-logo.png">
</div>
</pre>

<h4>インラインブロック要素 - buttonタグ</h4>

インラインブロック要素であるbuttonタグは、<b>text-align</b>で左寄せ、中央寄せ、右寄せができます。

<div style="text-align:center;background:#eef;">
  <button>ボタン</button>
</div>

<pre>
<div style="text-align:center;background:#eef;">
  <button>ボタン</button>
</div>
</pre>
