<h2>【HTML5】liタグ - リストの項目を作成する</h2>

liタグを使用すると、リストの項目を作成できます。

<pre>
<li></li>
</pre>

<h4>番号なしリスト</h4>

番号なしリストを作成するには、<b>liタグ</b>を<a href="/blog/20200307145137.html">ulタグ</a>の中に配置します。

<ul>
  <li>項目1</li>
  <li>項目2</li>
  <li>項目3</li>
</ul>

<pre>
<ul>
  <li>項目1</li>
  <li>項目2</li>
  <li>項目3</li>
</ul>
</pre>

<h4>番号ありリスト</h4>

番号ありリストを作成するには、<b>liタグ</b>を<a href="/blog/20200307145137.html">olタグ</a>の中に配置します。

<li>
  <li>項目1</li>
  <li>項目2</li>
  <li>項目3</li>
</li>

<pre>
<li>
  <li>項目1</li>
  <li>項目2</li>
  <li>項目3</li>
</li>
</pre>

リストの詳しい作成方法については、以下の記事を参考にしてください。

<a href="/blog/20200327122424.html">リストの作成方法をマスターする</a>
