<h2>【CSS3】クラスセレクタ</h2>

<b>クラスセレクタ</b>は、スタイルシート(CSS)を適用する要素のクラスを指定するためのものです。

クラスセレクタは「.」で始め、適用したい要素のクラス名を指定します。「.menu」の部分がクラスセレクタです。

<pre>
.menu {
  color:red;
}
</pre>

クラスセレクタを使ってみましょう。

<style>
  .menu {
    color:red;
  }
</style>

<div class="menu">
  焼肉
</div>

<pre>
<style>
.menu {
  color:red;
}
</style>

<div class="menu">
  焼肉
</div>
</pre>

<h3>クラスセレクタとIDセレクタのどちらを使うべきですか?</h3>

基本的には、スタイルシート(CSS)の中では、クラスセレクタのみを使うのが、お勧めです。

<a href="/blog/20200423134429.html">IDセレクタ</a>は、要素が一意である必要があるのに対し、クラスセレクタは、同じクラス名を持つ複数の要素に対しても適用でき、柔軟です。
