<h2>googleマップをページの中に埋め込む</h2>

googleマップをページの中に表示しましょう。

<h3>googleマップのサイト</h3>

googleマップのサイトへ行きましょう。

<a href="https://www.google.co.jp/maps">googleマップ</a>

<h3>住所を入力</h3>

検索エリアに住所を入力しましょう。

<img src="/images/google-map/google-map-search.png">

<h3>共有ボタンをクリック</h3>

共有ボタンをクリックします。

<img src="/images/google-map/google-map-share.png">

<h3>地図を埋め込むをクリック</h3>

地図を埋め込むをクリックします。

<img src="/images/google-map/google-map-emb.png">

<h3>HTMLをコピーをクリック</h3>

HTMLをコピーをクリックします。

<img src="/images/google-map/google-map-copyhtml.png">

<h3>自分のサイトに埋め込む</h3>

自分のサイトにコピーしたHTMLを、ペーストします。

