<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">Webデザイン</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200427085612.html">
        <span itemprop="name">CSS</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2>letter-spacing - 文字間隔を設定する - CSS入門【CSS3対応】</h2>

<b>文字間隔を設定</b>するには、「letter-spacing」をスタイルシート(CSS)で指定します。

<div>文字間隔 0px</div>
<div style="letter-spacing:1px;">文字間隔 1px</div>
<div style="letter-spacing:2px;">文字間隔 2px</div>
<div style="letter-spacing:3px;">文字間隔 3px</div>

<pre>
<div>文字間隔 0px</div>
<div style="letter-spacing:1px;">文字間隔 1px</div>
<div style="letter-spacing:2px;">文字間隔 2px</div>
<div style="letter-spacing:3px;">文字間隔 3px</div>
</pre>

<h3>文字間隔を広くする効果</h3>

文字間隔を広くする効果は、間隔が横に開くので、文字領域の面積が広くなるということです。つまり、文字間隔を広くした部分は、文字間隔が小さいものよりも目立つということです。

<b>文字間隔</b>、<a href="/blog/20200227082258.html">フォントサイズ</a>、<a href="/blog/20200331101526.html">太字</a>、色の濃さを組み合わせると、上手にコントラストを生み出すことができます。

<br>
<div style="font-size:16px;color:#333;">文字間隔:0px フォントサイズ:16px 色:#333</div>
<br>
<div style="font-size:22px;color:#111;letter-spacing:1px;font-weight:bold;">文字間隔:1px フォントサイズ:22px 色:#111 太字</div>
<br>
<div style="font-size:28px;color:#000;letter-spacing:3px;font-weight:bold;">文字間隔:3px フォントサイズ:26px 色:#000 太字</div>

<pre>
<div style="font-size:16px;color:#333;">文字間隔:0px フォントサイズ:16px 色:#333</div>

<div style="font-size:22px;color:#111;letter-spacing:1px;font-weight:bold;">文字間隔:1px フォントサイズ:22px 色:#111 太字</div>

<div style="font-size:28px;color:#000;letter-spacing:3px;font-weight:bold;">文字間隔:3px フォントサイズ:26px 色:#000 太字</div>
</pre>
