<style>
  li { list-style:none }
</style>
<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">Webデザイン</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200427085612.html">
        <span itemprop="name">CSS</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2>疑似クラス - CSS入門【CSS3対応】</h2>

疑似クラスは「:」で始まる疑似的なクラスです。タグ名と組み合わせて使われることが一般的です。

<pre>
li:last-child {

}

a:visited {

}
</pre>

<ul>
  <li><a href="/blog/20200428103139.html">visited疑似クラス</a></li>
  <li><a href="/blog/20200418150524.html">hover疑似クラス</a></li>
  <li><a href="/blog/20200416134429.html">first-child疑似クラス</a></li>
  <li><a href="/blog/20200415134429.html">last-child疑似クラス</a></li>
</ul>
