<div class="bread">
  <ul itemscope itemtype="http://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop="name">Webデザイン</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200427085612.html">
        <span itemprop="name">CSS</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="/blog/20200429173137.html">
        <span itemprop="name">疑似クラス</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2>visited疑似クラス - CSS入門【CSS3対応】</h2>

visited疑似クラスは、訪問済みリンクのスタイルを設定するための疑似的なクラスです。<a href="/blog/20200222082049.html">aタグ</a>と組み合わせて使われます。

<style>
  a:visited {
    color:red;
  }
</style>

<a href="/">訪問済みリンク</a>

<pre>
<style>
  a:visited {
    color:red;
  }
</style>

<a href="/">訪問済みリンク</a>
</pre>

<h3>元のリンクの色と同じ色にするには?</h3>

<a href="/blog/20200424150524.html">CSSを複数まとめて指定</a>するか、inheritを使います。

<pre>
  /* CSSを複数まとめて指定 */
  a, a:visited {
    color:red;
  }
  
  /* inheritを使って、色を継承 */
  a {
    color:red;
  }
  a:visited {
    color:inherit;
  }
</pre>

