<h2>【HTML5】headタグ - 中にHTMLヘッダを書く場所</h2>

HTMLヘッダは、<b>headタグ</b>の中に書きます。HTMLヘッダには、画面には表示されない補助的な情報を記述します。

<pre>
<head>
  HTMLヘッダ
</head>
</pre>

<h3>HTMLヘッダは、HTMLタグの中に書く</h3>

HTMLヘッダは、<a href="/blog/20200204092826.html">htmlタグ</a>の中に書きます。

<pre>
<html>
  <head>
    HTMLヘッダ
  </head>
  <body>
    コンテンツ
  </body>
</html>
</pre>

<h3>HTMLヘッダに指定するもの</h3>

HTMLヘッダでは、以下を指定できます。

<ul class="list">
  <li>CSSの読み込み</li>
  <li>JavaScript</li>
  <li>タイトル</li>
  <li>文字コード</li>
  <li>サイトの説明</li>
  <li>キーワード</li>
  <li>ファビコン</li>
  <li>ビューポート</li>
</ul>

<pre>
<html>
  <head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/images/kimoto-system-favicon.png">
    <link rel="stylesheet" type="text/css" href="/css/common.css">

    <script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="/js/google-code-prettify/prettify.js"></script>
    <link  type="text/css" rel="stylesheet" href="/js/google-code-prettify/prettify.css"/>
    <script>
      $(function(){
        // google code prettifyの有効化
        $("pre").addClass("prettyprint");
        function init(event){
          prettyPrint();
        }
        if(window.addEventListener)window.addEventListener("load",init,false);
        else if(window.attachEvent)window.attachEvent("onload",init);
        
        $(".to-top").click(function() {
          // ページの一番上までスクロールさせます。
          $('body, html').animate({scrollTop: 0}, 300, 'linear');;
        });
      });
    </script>
  </head>
  <body>
    コンテント
  </body>
</html>
</pre>

<h3>metaタグ</h3>

文字コードやビューポートを指定する<a href="/blog/20200224112719.html">metaタグ</a>は、HTMLヘッダの中に書きます。

<pre>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
</html>
</pre>

<h3>HTMLのひな型</h3>

<a href="/blog/20200205092826.html">DOCTYPE宣言</a>と<a href="/blog/20200204092826.html">htmlタグ</a>、<b>headタグ</b>、<a href="/blog/20200203092826.html">bodyタグ</a>がHTMLのひな型になります。

<pre>
<!DOCTYPE html>
<html>
  <head>
    HTMLヘッダ
  </head>
  <body>
    HTMLコンテンツ
  </body>
</html>
</pre>
