<h2>ヘッダーを固定した場合に、アンカーがずれるのを簡単なHTMLとCSSで修正する方法</h2>

(執筆修正中)

ヘッダーを固定した場合に、アンカーがずれるのを簡単なCSSで修正する方法を紹介します。

アンカーとというのは「#」で始まるページ内リンクのことです。

<a href="#design">アンカーリンク</a>


<pre>
<a href="#design">アンカーリンク</a>

<h3 id="design">アンカーリンクのとび先</h3>
</pre>

ヘッダ固定デザインは、スマートフォンサイトを作成する場合に、ユーザー体験が改善されますので、PCサイトでも一般的に使われるようになりましたね。

この場合に、アンカーを使って、リンクを張った場合に、固定ヘッダの裏に、移動先の見出しが隠れてしまうという事象が発生します。

<h3>HTMLとCSSによる簡単な解決方法</h3>

HTMLとCSSによる簡単な解決方法があります。それは、アンカーのとび先にidを設定するのではなくって、その手前にブロック要素を作り、下マージンを、ヘッダの固定幅よりも少し大きく設定し、そこにidを設定します。

<pre>
<a href="#design">アンカーリンク</a>

<div id="design" style="margin-bottom:60px;"></div>

<h3>アンカーリンクのとび先</h3>
</pre>

このように書くことで、簡単に解決できます。

<h3 id="design">アンカーリンクのとび先</h3>

ここがアンカーリンクのとび先です。
