<h2>【CSS3】フォントサイズを設定する </h2>

<b>フォントサイズを設定</b>にするには「font-size」属性を設定します。

<div style="font-size:20px">フォントサイズ20px</div>

<div style="font-size:30px">フォントサイズ30px</div>

<pre>
<div style="font-size:20px">フォントサイズ20px</div>

<div style="font-size:30px">フォントサイズ30px</div>
</pre>

<h3>フォントを大きくする効果</h3>

Webデザインにおいてフォントを大きくする効果について、書いておきます。

当たり前と言えば当たり前なのですが、画面を見続けていると錯覚してきます。

<h4>大きなフォントは、ユーザーの目に入りやすい</h4>

大きなフォントの部分は、ユーザーが一番最初に見ます。大きなフォントと写真のセットであれば、最もよく目に入ります。

<h4>見出しのフォントをは大きく</h4>

見出しのフォントをは大きくします。見出しは、ユーザーが一番最初に見る部分です。

<h4>大きなフォントは前面に、小さなフォントは背面に</h4>

Webデザインでは、画面の奥行きを意識してみてください。大きなフォントは前面に出る、小さなフォントは背面に潜るというイメージです。

これは、フォントサイズ以外でも、色や面積や<a href="/blog/20200331101526.html">フォントの太さ</a>を考えるときも同じです。

<h3>デフォルトのフォントサイズは16pxがお勧め</h3>

現代的なWebサイトは、スマートフォンから見られることが、当然と考えておいた方が良いので、フォントサイズは、大き目が望ましいと考えます。

お勧めは、デフォルト16pxです。

また、フォントサイズを、16px以上にしておくと、iphone/safariでのフォーム入力時の拡大を防ぐこともできます。

<a href="/blog/20200309145137.html">iphone/safariでフォーム入力時に自動的に拡大するのを防ぐ</a>

<h3>px, em, rem, %などフォントサイズを指定する単位がたくさんあるけど何がいいの?</h3>

Perlゼミ Webデザイン入門のお勧めはpxです。

1. わかりやすい

2. スマートフォン対応では、結局のところ、必要に応じて、フォントサイズを部分的に指定しなおすことになる

スマートフォンで十分読めるフォントサイズにしておいて、パソコンの画面では、少し大きく感じるのが、手軽だと思います。その上で、部分的に、フォントサイズを調整みたいな。
