<h2>【CSS3】兄弟セレクタ</h2>

兄弟セレクタは、「+」あるいは「~」で、2つのセレクターを接続し、同じ親要素の子で、1つ目の要素の直後にある2つ目の要素を指定します。

「+」の場合は、隣接している後ろの要素を指定し、「~」の場合は、隣接している必要はなく、後ろに現れる要素を指定します。

「+」の場合だけ解説します。

<style>
  img + p {
    color: red;
  }
</style>

<div>
  <img src="/images/webdesign-logo.png">
  <p>
    兄弟セレクタ
  </p>
</div>

<pre>
<style>
  img + p {
    color: red;
  }
</style>

<div>
  <img src="/images/webdesign-logo.png">
  <p>
    兄弟セレクタ
  </p>
</div>
</pre>

imgの直後の兄弟要素であるpにスタイルシート(CSS)が適用されるていることに注目してください。

<h3>兄弟セレクタのサンプル</h3>

実際に兄弟セレクタってどんな時に使うの?

実用例では、ブラウザに依存しないオリジナルの<a href="/blog/20200323095002.html">チェックボックス</a>、<a href="/blog/20200316094150.html">ラジオボタン</a>を作るときに使用します。

リンク先にサンプルがあります。
