<div class="what_is_this_site">
  <div class="inside">
Web開発のプロフェッショナルを目指す方のためのHTML・CSS入門です。Web開発者が、Webデザインの基礎を学ぶ必要がでてきたときに、2021年におけるブラウザポータブルなHTMLとCSSを手短に覚えることができることを目標としています。2021年の最新のWebデザインのトレンドに対応したコンテンツで勉強できる。シンプルな記述で、HTML5、CSS3対応、スマートフォン + IE11サポート。JavaScriptはjQueryを使った定番手法。
  </div>
</div>

<div class="perlri_link">
  <a rel="nofollow"  href="http://www.perlri.com">
    初心者からはじめて<br>プロのWeb開発者<br>になれる講座なら<br>Perlクラブ
  </a>
</div>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4525414114581084"
     crossorigin="anonymous"></script>