<!-- side -->
<div class="side_list">
  <div class="side_list_title">
    HTML・CSS入門 講座作成
  </div>
  <ul  style="margin-bottom:30px">
    <li style="text-align:center;padding-left:0"><a rel="nofollow" href="https://perlclub.net/"><img width="110" src="https://perlzemi.com/images/kaeru_w_01.png"><br>初心者からはじめて<br>プロのWeb開発者<br>になれる講座なら<br>Perlクラブ</a></li>
  </ul>
  <div class="side_list_title">
    HTML・CSS入門
  </div>
  <ul>
    <li><a rel="nofollow" href="/blog/20200328092718.html">HTML入門【HTML5対応】</a></li>
    <li><a rel="nofollow" href="/blog/20200427085612.html">CSS入門【CSS3対応】</a></li>
    <li><a rel="nofollow" href="/blog/20200312095039.html">jQuery入門</a></li>
    <li><a rel="nofollow" href="/blog/20200502112422.html">パワーポイント ロゴ・アイコン集</a></li>
    <li><a rel="nofollow" href="/list.html">新着情報</a></li>
  </ul>
</div>

<div class="side_list">
  <div class="side_list_title">
    プロのWeb開発者になる方法
  </div>
  <ul>
    <li>
      <div style="text-align:center;margin-bottom:5px;">
        <a rel="nofollow" href="https://perlclub.net/job" target="_blank">プロのWeb開発者になるための<br>仕事の探し方・選び方</a>
      </div>
<!-- サイドバー -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4525414114581084"
   crossorigin="anonymous"></script>
<ins class="adsbygoogle"
   style="display:block"
   data-ad-format="fluid"
   data-ad-layout-key="-gw-3+1f-3d+2z"
   data-ad-client="ca-pub-4525414114581084"
   data-ad-slot="6384959968"></ins>
<script>
   (adsbygoogle = window.adsbygoogle || []).push({});
</script>        <!-- 
      <div>
        <img src="/images/ad/ad_image_example.png">
      </div>
      -->
    </li>
  </ul>
</div>
